/*
    Todo :
    1. At first I have to refactor this code.
    2. Then I have to convert this code from flexbox to grid.
*/

.messanger-container {
    display: grid;
    grid-template-columns : 380px auto;
    grid-template-rows: 45px auto 65px;
    grid-template-areas : "chatuserlist userheading"
                        "chatuserlist msgbody"
                        "chatuserlist msgtext";
    box-sizing: border-box;
}
/*
.messanger-container {
    display: grid;
    grid-template-columns: 380px auto;
} */

.chat-user-list { /*this is the list of the user that send messages to the owner*/
    /* box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.8);
    -webkit-box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.8);
    -moz-box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.8); */
    grid-area: chatuserlist;
    /* height: 100vh; */

    box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.18);
-webkit-box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.18);
-moz-box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.18);
}

.chat-body-p {
    padding : 10px; /*This is the chatbody portion where the messages exists*/


}

.chat-body-text { /*this portion comes under the chat-body-p*/
    /* display: block; */
    flex-direction: column;
    /* position: relative; */
    height: 100%;
    overflow-y: auto;

    grid-area :msgbody;
    padding : 10px;
    height: 78vh;

}


.chat-text { /*this is the portion where user can write messages and that  can be sent to reciever*/
    background-color : rgb(227, 142, 142);
    padding : 10px;
    grid-area: msgtext;
    box-sizing: border-box;
    position: relative;
}
.message-text-body { /*This portion is the heading of user name*/
    margin-bottom: 10px;
    width: 100%;
    background-color: white;
    padding : 10px;

    grid-area : userheading;
    align-self: flex-start;
    margin-bottom : 5px;


    box-shadow: 3px 5px 5px 0px rgba(0,0,0,0.18);
-webkit-box-shadow: 3px 5px 5px 0px rgba(0,0,0,0.18);
-moz-box-shadow: 3px 5px 5px 0px rgba(0,0,0,0.18);
}

.msg-icon { /*this is the measurement of the icon that has been used to represent the emojir and file upload button*/
    height: 35px;
    width: 35px;
    filter: invert(20%) sepia(81%) saturate(4789%) hue-rotate(351deg) brightness(105%) contrast(106%);
}

.msg-icon-bg { /*this is the background of the msg icon*/
    background-color: white;
    padding :4px;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
}

.msg-icon-container { /*This portion is used to make the two icon horizontal*/
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}


.main-message-input { /*this is the textare whre user can write stuff*/
    max-height: 50px;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
    display: inline-block;
    overflow-y: auto;
    box-sizing: border-box;
    margin: 0px;
    padding : 10px;
    transition: border .1s;
}

.main-message-input:focus { /*adding extra atrributes to the input text field*/
    border : 2px solid hsl(400,100%,50%);
}

.main-message-submit { /*this ish the */
    padding : 10px;
    height: 50px;
    border-radius: 10px;
    display: inline-block;

}
.msg-form-control { /*This is the container of user text input and submit subbot*/
    display: flex;
    column-gap: 5px;

}
.message-emoji-collection { /*This the emoji drop down menu*/
    display: none;
    z-index :1;
    position: absolute;
    bottom : 65px;
    padding : 10px;
    left : -5px;

}
