.message-text-body-part-container {
    display: grid;
    grid-template-columns: 75px auto;
}

.message-text-body-part-img {
    height: 45px;
    width: 45px;
}
.message-text-body-part-textbody {

}
