.members-heading {
    color : #CE2C2C;
    font-size: 25px;
    font-weight: bold;
    border-bottom : 5px solid #CE2c2c;
    display: inline-block;
    width:auto;
}

.members-body {
    padding : 5px;
}

.member-button {
    display: block;
    background-color : #CE2C2C;
    color : white;
    padding : 7px;
    border-radius: 12px;
}
.button-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
}

.member-list {
    position: fixed;
    bottom : 0;
    height: 500px;
    width: 280px;
    background-color: white;

    box-shadow: 2px 4px 4px -1px rgba(69,69,69,0.79);
    -webkit-box-shadow: 2px 4px 4px -1px rgba(69,69,69,0.79);
    -moz-box-shadow: 2px 4px 4px -1px rgba(69,69,69,0.79);
    border: none;
    overflow-y: auto;
    z-index: 1;
}

.member-list p {
    background-color : #505050;
    color : white;
    font-weight: bold;
    text-align: center;
    padding :5px;
    font-size: 20px;
}

.member-info {
    position: fixed;
    bottom : 0;
    height: 500px;
    width: 780px;
    background-color: white;
    left : 550px;

    box-shadow: 2px 4px 4px -1px rgba(69,69,69,0.79);
    -webkit-box-shadow: 2px 4px 4px -1px rgba(69,69,69,0.79);
    -moz-box-shadow: 2px 4px 4px -1px rgba(69,69,69,0.79);
    border: none;
    overflow-y: auto;
    z-index: 1;
}

.member-info p {
    background-color : #505050;
    color : white;
    font-weight: bold;
    text-align: center;
    padding :5px;
    font-size: 20px;
}
