.members-heading {
    color : #CE2C2C;
    font-size: 25px;
    font-weight: bold;
    border-bottom : 5px solid #CE2c2c;
    display: inline-block;
    width:auto;
}

.members-body {
    padding : 5px;
}

.member-button {
    display: block;
    background-color : #CE2C2C;
    color : white;
    padding : 7px;
    border-radius: 12px;
}
.button-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
}

.member-list {
    position: fixed;
    bottom : 0;
    height: 500px;
    width: 330px; /*old value was 280px*/
    background-color: white;

    box-shadow: 2px 4px 4px -1px rgba(69,69,69,0.79);
    -webkit-box-shadow: 2px 4px 4px -1px rgba(69,69,69,0.79);
    -moz-box-shadow: 2px 4px 4px -1px rgba(69,69,69,0.79);
    border: none;
    overflow-y: auto;
    z-index: 1;
}

.member-list p {
    background-color : #505050;
    color : white;
    font-weight: bold;
    text-align: center;
    padding :5px;
    font-size: 20px;
}

.member-info {
    display: none;

    position: fixed;
    bottom : 0;
    height: 500px;
    width: 750px;
    background-color: white;
    /* left : 550px; */
    right : 0px;

    box-shadow: -1px -1px 4px -1px rgba(69,69,69,0.79);
    -webkit-box-shadow: -1px -1px 4px -1px rgba(69,69,69,0.79);
    -moz-box-shadow: -1px -1px 4px -1px rgba(69,69,69,0.79);
    border: none;
    overflow-y: auto;
    z-index: 1;
}

.member-info p {

}

.close-member-button {
    height: 28px;
    width: 28px;
    display: inline-block;
    cursor: pointer;

    position: absolute;
    right : 5px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(35deg) brightness(104%) contrast(102%) drop-shadow(0px -2px 4px #D63030);
    transition: filter .2s;
}

.close-member-button:hover {
    filter: invert(85%) sepia(87%) saturate(642%) hue-rotate(95deg) brightness(95%) contrast(94%);
}

.member-info-heading {
    background-color : #505050;
    color : white;
    font-weight: bold;
    text-align: center;
    padding :5px;
    font-size: 20px;
    position: relative;
}
.member-info-heading p {
    display: inline-block;
}
