.members-heading {
    color : #CE2C2C;
    font-size: 25px;
    font-weight: bold;
    border-bottom : 5px solid #CE2c2c;
    display: inline-block;
    width:auto;
}

.members-body {
    padding : 5px;
}

.member-button {
    display: block;
    background-color : #CE2C2C;
    color : white;
    padding : 7px;
    border-radius: 12px;
    box-shadow: -2px 1px 10px 1px grey;
}
.button-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
}

.member-list {
    position: fixed;
    bottom : 0;
    height: 500px;
    width: 330px; /*old value was 280px*/
    background-color: white;

    box-shadow: 2px 4px 4px -1px rgba(69,69,69,0.79);
    -webkit-box-shadow: 2px 4px 4px -1px rgba(69,69,69,0.79);
    -moz-box-shadow: 2px 4px 4px -1px rgba(69,69,69,0.79);
    border: none;
    overflow-y: auto;
    z-index: -1;
}

.member-list p {
    background-color : #505050;
    color : white;
    font-weight: bold;
    text-align: center;
    padding :5px;
    font-size: 20px;
}

.member-info {
    display: none;

    position: fixed;
    bottom : 0;
    height: 500px;
    width: 750px;
    background-color: white;
    /* left : 550px; */
    right : 0px;

    box-shadow: -1px -1px 4px -1px rgba(69,69,69,0.79);
    -webkit-box-shadow: -1px -1px 4px -1px rgba(69,69,69,0.79);
    -moz-box-shadow: -1px -1px 4px -1px rgba(69,69,69,0.79);
    border: none;
    overflow-y: auto;
    z-index: 1;
}

.member-info p {

}

.close-member-button {
    height: 28px;
    width: 28px;
    display: inline-block;
    cursor: pointer;

    position: absolute;
    right : 5px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(35deg) brightness(104%) contrast(102%) drop-shadow(0px -2px 4px #D63030);
    transition: filter .2s;
}

.close-member-button:hover {
    filter: invert(85%) sepia(87%) saturate(642%) hue-rotate(95deg) brightness(95%) contrast(94%);
}

.member-info-heading {
    background-color : #505050;
    color : white;
    font-weight: bold;
    text-align: center;
    padding :5px;
    font-size: 20px;
    position: relative;
}
.member-info-heading p {
    display: inline-block;
}
.member-info-body {
    padding : 5px;
}


.member-info-profile-image {
    height : 55px;
    width : 55px;
    border-radius: 50%;
    grid-area: img;
}

.member-info-name {
    grid-area : name;
}

.member-info-image-group {
    display: grid;
    grid-template-columns: 75px 1fr;
    grid-template-areas: "img name";
    grid-area : info;
}

/* .member-info-button-group {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;

    grid-template-areas: "info ban"
                        "promote demote";
} */

.member-info-button-group {
    display : flex;
    flex-direction: row;
    justify-content: space-between;
}

.member-info-ban-btn {
    margin-right : 5px;
    width : 75px;
    padding : 5px;
    height: 37px;
    align-self: center;
    background-color : #CE2C2C;
    color : white;
    font-weight: bold;
    border-radius: 8px;

}
.member-info-promote-btn {
    background-color: #1DDF23;
    color : white;
    padding : 5px;
    border-radius: 8px;

}
.member-info-demote-btn {
    background-color : #CE2C2C;
    color : white;
    padding: 5px;
    border-radius: 8px;

}

.member-info-btn-size {
    height: 20px;
    width : 20px;
    margin-right : 5px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(35deg) brightness(104%) contrast(102%) drop-shadow(0px -2px 4px #D63030);
}

.demote-promote-button-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding : 5px;
    margin-top : 10px;
}

.member-info-desc {
    box-shadow: 4px 4px 5px 0px rgba(255,156,156,0.54);
    -webkit-box-shadow: 4px 4px 5px 0px rgba(255,156,156,0.54);
    -moz-box-shadow: 4px 4px 5px 0px rgba(255,156,156,0.54);
    width : 480px;
    margin-top : 25px;
    /* height: 280px; */
    margin-bottom : 10px;

    padding : 10px;
    position: relative;
    overflow: hidden;
}

.member-info-desc p{
    line-height: 5px;
}

.member-info-desc-edit {
    position:absolute;
    right  :10px;
    bottom : 0;
    top : 10px;
    color : #CE2C2C;
    cursor: pointer;
}




.members-modal-container {
    position : fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top : 0;
    left : 0;
    width : 100vw;
    z-index: 1;
    height: 100vh;
    background-color: rgba(0,0,0,0.3);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease-out;
}
.members-modal-container.showmodal {
    opacity : 1.0;
    pointer-events: auto;
}
.members-modal {
    background-color : white;
    width : 450px;
    height: 600px;
    max-width: 100%;
    padding : 10px;
    border-radius: 5px;
}

.members-modal-body {
    display: flex;
    justify-content: center;
}
.members-modal-form * {
    display: block;
}

.members-modal-form .control {
    width : 300px;
    height: 40px;
    padding : 10px;
    box-sizing:border-box;
    border-radius: 25px;
    border: 1px solid grey;
    margin-bottom : 5px;
}

.members-modal-form {
    text-align: center;
}
.members-modal-btn {
    background-color : #FF1818;
    color : white;
    font-weight: bold;
    border-radius: 10px;
}

.members-modal-form-image img {
    height : 90px;
    width : 90px;
    margin : auto;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left :50%;
    transform: translateX(-50%) translateY(-50%);
}
.members-modal-form-image {
    padding : 10px;
    height : 100px;
    width: 100px;
    border:1px dashed grey;
    border-radius: 50%;
    position: relative;
    left : 50%;
    transform: translateX(-50%);
}
.members-modal-file[type= "file"] {
    display:none;
}
