.post-body-heading {
    color : #CE2C2C;
    font-size: 25px;
    font-weight: bold;
    border-bottom : 5px solid #CE2c2c;
    display: inline-block;
    width:auto;
}

.post-body-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top:10px;
}

.post-body-inp[type="text"] {
    outline: #CE2C2C;
    border: 3px solid #CE2C2C;
    padding : 10px;
    border-radius: 5px;
    background: transparent;
    padding-right : 30px;
    /* text-indent: -999px;
  overflow: hidden; */
}

.input-container img {
    position : absolute;
}

.input-container {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: auto;
    margin-left : 15px;
}

.icon {
    top: 50%;
    -moz-transform:  translateY(-50%);
    -webkit-transform:  translateY(-50%);
    transform:  translateY(-50%);
    right : 5px;

}
