.nav {
    background-color:#f0f0f0;
    padding : 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.nav-item {
    list-style-type: none;
    display: inline-block;
    margin-left : auto;
}

.search-bar[type=text] {
    width : 800px;
    height: 30px;
    border-radius: 5px;
    background: url("https://img.icons8.com/ios/15/000000/search--v5.png") no-repeat right;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 0px 10px;
    padding-right : 25px;
}

#logo {
    margin-left:0px;
}

#login {
    float:right;
    margin-right: 0px;
}
#search-bar {
    margin-left: auto;
}



@media screen and (max-width: 600px) {
    .product-column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

  .header-cart {
      width: 25px;
      margin-right : 30px;
      position: relative;
  }
  .cart-counter {
        position:absolute;
        margin-top: -30px;
        margin-left: 20px;
        background-color: red;
        width: 20px;
        height: 20px;
        text-align: center;
        border-radius: 50%;
        color:white;
        font-size : 15px;
        font-weight: 200;
  }
