/* .product-row {
    display:grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    justify-content: space-evenly;

} */

.product-row {
    margin: 0 -5px;
}

.product-row::after {
    display:table;
    content : "";
    clear:both;
}


.product-column {
    float:left;
    padding: 0 10px;
}

.site-body {
    display: flex;
    justify-content: center;

}
