
.chat-card-container {
    display: grid;

    grid-template-columns: 50px 1fr 1fr;

    grid-template-areas:
        "img name time"
        "img name time"
    ;
    row-gap : 10px;
    column-gap: 10px;
    margin-top: 5px;
    background-color: white;
    padding: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: box-shadow .3s;
    margin-bottom : 5px;
    cursor: pointer;
}

.chat-card-container:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: rgb(255, 224, 224);

}

.chat-card-container:active {
    background-color: rgb(239, 239, 239);
}

.chat-card-img {
    width: 50px;
    height : 50p;
    border-radius: 50%;
    grid-area :img;
}

.chat-card-name {
    grid-area : name;
    display: grid;
    align-items: center;
    justify-content: center;
    line-height: 0.5em;
}

.chat-card-name p {
    line-height: 1em;
    color :#363333;
}

.chat-card-hint {
    grid-area: hint;
    margin:0px
}

.chat-card-time {
    grid-area : time;
    display:flex;
    align-self: center;
    justify-self: end;
}

