.chat-box-container {
    position: fixed;
    right : 1px;
    background-color: white;
    min-width: 350px;
    padding: 10px;

    transition:  .5s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: hidden;
    bottom : 7px;
    z-index: 1;
}

.chat-body {
    display: none;
}

/* .chat-box-container:hover {
    min-width: 350px;
    height: 450px;
    right : 1px;
    margin-right : 0px;

} */

.chat-box-container:hover  .chat-body{
    display: block;
    overflow-y: auto;
    overflow-x: hidden;


    /* min-width: 350px; */
    height: 450px;
    right : 1px;
    margin-right : 0px;
}
