.ProductDetailsImageGallary-parent-image {
    display:block;
    height:210px;
    width:210px;
    margin-bottom:7px;
    border:1px solid grey;
    border-radius: 10px;;
    overflow: hidden;
}

.ProductDetialsImageGallary-child-img {
    height : 35px;
    width: 35px;
    margin-right: 6px;
    opacity: .5;
}
.ProductDetialsImageGallary-child-img:hover {
    opacity:1;
}

.product-details-grid-parent {
    display:grid;
    gap:10px;
    grid-template-columns: 210px auto ; /* from 250px to auto*/
}

.product-details-iamge-gallary-text {

}

.image-group {
    display: inline-block;
    text-align:center;

}


.product-details-btn-group {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.product-details-btn {
    display:inline-block;
    background-color: red;
    color:white;
    outline: none;
    border-radius: 5px;
    transition: background-color .3s;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    padding:5px 10px;

}
.product-details-btn:hover  {
    background-color: orange;
}
.product-details-btn:active {
    background-color: black;
}
