.chat-user-list-interface-container {
    display: grid;

    grid-template-columns: 50px 250px 1fr;

    grid-template-areas:
        "img name time"
        "img name time"
    ;
    row-gap : 10px;
    column-gap: 10px;
    background-color: white;
    padding: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: box-shadow .3s;
    margin-bottom : 5px;
    cursor: pointer;

    align-items: center;
}

.chat-user-list-interface-image {
    height : 45px;
    width : 45px;
    border-radius: 50%;
    grid-area: img;

    display: flex;
    flex-direction: row;
    align-self: center;
}

.chat-user-list-name {
    grid-area : name;
    line-height: .5em;
}

.chat-user-list-name p {
    line-height: 1em;
}

.chat-user-list-time {
    grid-area : time;
}
